<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BNATest"
        tools:targetApi="31">
        <activity
            android:name=".WakeUp1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalendarActivity"></activity>
        <activity android:name=".MultiSelectCalendarActivity"></activity>
        <activity android:name=".SnoringReportActivity"></activity>
        <activity android:name=".alarm"></activity>

        <activity android:name=".alarm_open"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=".AlarmTask"

            ></activity>

        <service
            android:name=".alarmLightAwake"
            android:exported="true" /> <!-- 根据需求设置是否允许外部调用 -->


        <service
            android:name=".SensorForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location|dataSync" />

        <service
            android:name=".RotationVectorForegroundService"
            android:foregroundServiceType="dataSync" />



        <service android:name=".AlarmService" />

        <receiver android:name=".AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.morales.ACTION_ALARM_NORMAL" />
            </intent-filter>
        </receiver>



        <receiver android:name=".AlarmAwakeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.morales.ACTION_ALARM_AWAKE" />
            </intent-filter>
        </receiver>




    </application>



    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>